* {
  box-sizing: border-box;
}

.dbhome-kidapprovals-container {
  background-color: #47bdef;
  border: 5px solid #e0e0e0;
  cursor: pointer;
  width: 33%;
  padding-top: 5px;
}
@media screen and (max-width: 772px) {
  .dbhome-kidapprovals-container {
    width: 100%;
    height: 312px;
  }
}
.dbhome-kidapprovals {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.dbhome-kidrequests {
  display: flex;
  padding-top: 22px;
  justify-content: space-around;
}

.dbhome-kidapprovals-number {
  color: #ff0000;
  text-align: center;
  font-size: 40px;
}

.dbhome-kidapprovals-text {
  color: white;
  text-align: center;
  font-size: 25px;
}
.dbhome-kidapprovals-sub-title {
  color: white;
  font-size: 20px;
  /* display: flex;
  justify-content: center;
  text-align: center; */
  margin-top: 10px;
}
.dbhome-kidapprovals-sub-containers-hr-line {
  height: 3.5px;
  background-color: #ffffff;
  color: #ffffff;
  border: 1px solid white !important;
}