* {
    box-sizing: border-box;
  }
  
  .kidmarks-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    min-height: 100%;
    max-width: 99%;
    background-color:  rgb(243, 248, 254);
    background-size: cover;
    height: 100vh;
  }
  
  .kidmarks-table-2nd-container {
    background-color: transparent;
    padding: 5px;
    border: 1px solid rgb(239, 239, 239);
    padding-bottom: 0px !important;
  }
  .table-in-kidmarks-container {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
  }
  
  .table-border {
    border: 1px solid blue !important;
  }
  
  .table-header {
    background-color: #177ed7 !important;
    color: #fff !important;
    border-bottom-style: none !important;
  }
  .add-marks-exel-save-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .excel-upload-btn {
    margin-left: 10px !important;
  }
  .table-body-in-kid-marks {
    background-color: #00c1ff0a;
    border-bottom-style: solid;
    border-bottom-color: rgb(214, 223, 230);
    border-bottom-width: 1px;
    border-top-style: none !important;
  }
  .table-body-each-col {
    border: 1px solid rgb(214, 223, 230);
  }
  .up-down-buttons-kidmarks {
    border: 1px solid rgb(1, 97, 128);
    color: #ffffff;
    height: 32px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #177ed7 0%, #177ed7 100%);
  }
  .up-down-buttons-kidmarks:hover {
    background-image: linear-gradient(
      to bottom,
      #209fc8 0%,
      #6dd2f3 50%,
      #209fc8 100%
    ) !important;
    color: black;
  }
  .kidmarks-bold-input-labels {
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgb(102, 102, 102);
  }
  @media screen and (max-width: 768px) {
    .kidmarks-bold-input-labels {
      margin-right: auto;
    }
  }
  
  .kidmarks-non-bold-input-labels {
    font-size: 14px;
  }
  .kidmarks-input {
    padding: 5px;
    font-size: 14px;
    min-width: 112px;
    max-width: 252px;
    width: 66.66%;
    height: 32px;
    color: #666;
    margin-left: 5px;
    border: 1px solid #d6dfe6;
    outline: none;
    padding-left: 8px;
    border-radius: 2px;
  }
  @media screen and (max-width: 768px) {
    .kidmarks-input {
      margin-left: 0px !important;
      margin-bottom: 20px;
      margin-top: 8px;
    }
  }
  .kidmarks-input-disabled {
    background-color: #f0f0f0;
  }
  .no-border {
    border-style: none !important;
  }
  .kid-marks-first-row-container {
    padding-top: 20px;
    padding-left: 22px;
   
  }
  @media screen and (max-width: 768px) {
    .kid-marks-first-row-container {
      padding-left: 5px !important;
    }
  }
  
  .kidmarks-2nd-row {
    padding-top: 25px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .containers-2nd-row {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .kidmarks-buttons {
    margin-left: -80px;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 2px !important;
    border: 1px solid rgb(1, 97, 128);
    color: #ffffff;
    background-image: linear-gradient(to bottom, #177ed7 0%, #177ed7 100%);
  }
  .kidmarks-buttons:hover {
    background-image: linear-gradient(
      to bottom,
      #209fc8 0%,
      #6dd2f3 50%,
      #209fc8 100%
    ) !important;
    color: black;
  }
  .select-exam-type-dropdown {
    margin-left: 5px;
    width: 252px;
    height: 32px;
    border: 1px solid #d6dfe6;
    outline: none;
  }
  .row-1st-column-containers {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-left: 50px;
  }
  @media screen and (max-width: 768px) {
    .row-1st-column-containers {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 15px !important;
    }
  }
  
  /* react bootstrap modal styles css */
  
  .add-exam-type-modal {
    transform: scale(0) !important ;
    transition: all 0.4s ease-in-out !important;
  }
  .add-exam-type-modal.show {
    transform: scale(1) !important;
    transition: all 0.4s ease-in-out !important;
    top: 25%;
  }
  
  .add-exam-type-modal .modal-header {
    background-color: #177ed7;
    height: 55px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .add-exam-type-modal .modal-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .add-exam-type-modal .modal-footer {
    border-top: 0 none;
  }
  
  /* modal css sytles till here   */
  
  .add-exam-type-modal-input-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .add-exam-type-modal-input {
    width: 65%;
    border: 1px solid #d6dfe6;
    border-radius: 2px;
    height: 32px;
    color: #666;
    padding: 5px;
    outline: none;
  }
  .kidmarks-add-exam-type-label {
    color: #666;
  }
  .kidmarks-table-headings {
    font-size: 14px;
    font-weight: 400;
  }
  .kidmarks-table-headings:hover {
    background-color: #d6d7d8;
    color: black;
  }
  .max-sub-marks-popover {
    border: 1px solid red;
    border-radius: 0px !important;
    padding: 8px;
    color: red;
    font-size: 14px;
    font-weight: 300;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .italic {
    font-style: italic;
  }
  
  .select-exam-type-error{
    color: red;
    text-align: center;
  }