* {
  box-sizing: border-box;
}

.dbhome-event-container {
  background-color: #f9bc48;
  cursor: pointer;
  border: 5px solid #e0e0e0;
  width: 33%;
  padding-top: 5px;
}
@media screen and (max-width: 772px) {
  .dbhome-event-container {
    width: 100%;
    height: 312px;
  }
}

.dbhome-events-bottom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  align-self: center;
  text-align: center;
}

.dbhome-events-heading {
  color: blue;
  font-size: 35px;
}

.dbhome-events-description {
  color: white;
  font-size: 25px;
}
.dbhome-events-sub-title {
  color: white;
  font-size: 20px;
  /* display: flex;
  justify-content: center;
  text-align: center; */
  margin-top: 10px;
}
.dbhome-events-sub-containers-hr-line {
  background-color: #ffffff;
  color: #ffffff;
  border: 1px solid white !important;
}