* {
  box-sizing: border-box;
}

.dbhome-holiday-container {
  background-color: #ed6647;
  cursor: pointer;
  border: 5px solid #e0e0e0;
  width: 33%;
  padding-top: 5px;
}
@media screen and (max-width: 772px) {
  .dbhome-holiday-container {
    width: 100%;
    height: 312px;
  }
}

.dbhome-holidays-bottom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  align-self: center;
  text-align: center;
}

.dbhome-holidays-heading {
  color: blue;
  font-size: 35px;
}

.dbhome-holidays-description {
  color: white;
  font-size: 25px;
}

.para12 {
  background-color: #ffffff;
}
.dbhome-holidays-sub-title {
  color: white;
  font-size: 20px;
  /* display: flex;
  justify-content: center;
  text-align: center; */
  margin-top: 10px;
}
.dbhome-holidays-sub-containers-hr-line {
  height: 3.5px;
  background-color: #ffffff;
  color: #ffffff;
  border: 1px solid white !important;
}