.screens-bg-container {
  min-height: 100vh;
  background-color: #ffffff;
  padding: 30px;
  padding-top: 20px !important;
}
.screens-hr-line {
  width: 4%;
  margin-left: 48%;
  margin-right: 48%;
}
.screens-carousel-container {
  padding: 30px;
}
.carousel-images {
  height: 550px;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators button {
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 50%;
  border: 1px solid blue !important; /* use !important otherwise this styles wont work in react bootstrap*/
}

.carousel-indicators button:not(:first-child) {
  margin-left: 0.5rem;
}

.carousel-indicators .active {
  background-color: blue;
}
/* use bootstrap class names to change css styles for react bootstrap styles  */
.screens-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
}