.event-table{
    color: black;
    background-color: brown;
    padding: 20px;
    display: flex;
    }
    
    /* .table_bg{
        border-collapse: collapse;
       max-width: 900px;
       width: 100%;
        margin: 2rem auto;
        padding: 10px;
    } */
    
    .table-head{
        text-align: center;
        background-color: black;
        text-align: center;
        height: 10px;
    
    
    }
    
    table th, table td{
        border:  1px solid #ddd;
        padding: 8px;
    }
    
    .event-management-table-head{
        background-color: #3e94de;
        border-bottom: none;
    }
    
    
    .event-popup-buttons-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    
    
    
    .trigger-button {
         margin-left: 6px;
        background-color: #3e94de;
        border-width: 0px;
    color: #ffffff;
         font-size: 15px;
         border-radius: 3px;
         margin-right: 3px;
         height: 30px;
         width: 50px;
    }
    .popup-heading{
        color: #ffffff;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .para{
    color: black;
        text-align: left;
    font-size: 12px;
        padding: 5px;
        font-family: sans-serif;
    }
    .container{
    border: 2px solid #ffffff;
    background-color: white;
    color: #ffffff;
    width: 20vw;
     height: 20vh;
        padding-top: 6px !important;
    margin-right: 10px;
    text-align: end;
    box-shadow: 5px 10px 18px #888888;
        }
        
        
    .heading-container{
    display: flex;
    background-color: #3e94de;
     margin-top: 0px;
     padding: 5px;
     text-align: left;
        justify-content: space-between;
        }
        
    .close-button{
        width: 25px;
        background-color: transparent;
        color: #ffffff;
        border: solid 1px black;
    }
        
    .close-button:hover{
        background-image: linear-gradient(to bottom, #177ed7 0%, #177ed7 100%);
        color: black;
    }
    
    .popup-button{
     background-color: transparent;
    
    
    }
            
    .all-popup-container{
        display: flex;
        flex-direction: row;
    }
    /* .popup-container{
        display: flex;
        flex-direction: row;
    } */
    .table-body-container{
        background-color:rgb(243, 248, 254);
    
    }
    
    .table-body-container:hover{
        background-color: #ddd;
    }
    
    
    .body{
        border-top-style: none !important;
        /* overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden; */
    }
    
    .pop-btn-up{
        border: none;
    }
    
    .pop-btn-up:hover{
        background-color: #ddd !important;
    }
    
    .eye{
        color: green;
    }
    
    .edit{
        color: blue;
    }
    
    .trash{
        color: red;
    }
    
    .eye-trigger-button{
        background-color: transparent;
        border: none;
    }
    
    .trash-trigger-button{
        background-color: transparent;
        border: none;   
    }
    
    .eye-heading-container{
        background-color: rgb(245, 243, 243);
        width: 30vw;
        height: 54vh;
        margin-top: 120px !important;
        margin-bottom: 0px;
        border: solid 1px black;
    }

    @media screen and (max-width: 768px){
        .eye-heading-container{
            height: 60vh;
            width: 50vh;
            margin-right: 220px;
           
        }
    }
    /* @media screen and (max-width:769px){
        .trash-heading-container{
            background-color: rgb(245, 243, 243);
            width: 10vw !important;
            height: 15vh !important;
            border: solid 1px black;
        }
    } */
    .trash-heading-container{
        background-color: rgb(245, 243, 243);
        width: 20vw !important;
        height: 25vh !important;
        border: solid 1px black;
    }

    @media screen and (max-width: 768px) {
        .trash-heading-container {
            background-color: rgb(245, 243, 243);
            width: 35vw !important;
            height: 30vh !important;
            border: solid 1px black;
            margin-right: 130px;
        }
      }
    
      @media screen and (max-width: 769px) and (min-width:920px){
        .trash-heading-container {
            background-color: rgb(245, 243, 243);
            width: 35vw !important;
            height: 30vh !important;
            border: solid 1px black;
            margin-right: 250px;
        }
      }
    .eye-heading-inner-container{
        display: flex;
        justify-content: space-between;
        background-color: #177ed7;
        height: 40px;
    }
    
    .eye-close-button{
        background-color: #177ed7;
        color: white;
    }
    
    .eye-close-button:hover{
        background-image: linear-gradient(
    
            to bottom,
        
            #209fc8 0%,
        
            #6dd2f3 50%,
        
            #209fc8 100%
        
          ) !important;
        
          color: black;
    }
    
    
    .eye-event-heading{
        color: white;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .eye-paragraph-event{
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .eye-paragraph-textarea{
        padding-left: 10px !important;
        padding-top: 10px !important;
        margin: 10px;
    }

    @media screen and (min-width:768px) {
        .eye-paragraph-textarea{
            display: none;
        }
    }
    
    /* @media screen and (max-width:768px) {
        .eye-paragraph-textarea-mobile {
            display: none;

        }
    } */

    .eye-paragraph-textarea-mobile{
        padding-left: 10px !important;
        padding-top: 10px !important;
        margin: 10px;
    }

    @media screen and(max-width: 769px) {
        .eye-paragraph-textarea-mobile{
            display: none;
        }
    }

    .eye-ok-trigger-button-popup{
      
        background-color: #177ed7;
        display: flex;
        margin-right: 10px;
        margin-left: auto;
        color: white;
    }
    
    .eye-ok-trigger-button-popup:hover{
        background-image: linear-gradient(
    
            to bottom,
        
            #209fc8 0%,
        
            #6dd2f3 50%,
        
            #209fc8 100%
        
          ) !important;
        
          color: black;
        
        }
    
    
    .trash-bottom-burrons-container{
    
        display: flex;
        padding-top: 30px;
        
    }
    
    .trash-ok-trigger-button-yes{
        text-align: end;
        margin: 5px;
        justify-content: flex-end;
        background-color: #177ed7;
        color: white;
    }
    
    .trash-ok-trigger-button-yes:hover{
        background-image: linear-gradient(
    
            to bottom,
        
            #209fc8 0%,
        
            #6dd2f3 50%,
        
            #209fc8 100%
        
          ) !important;
        
          color: black;
    }
    
    .trash-ok-trigger-button-No{
        text-align: end;
        margin: 5px;
        justify-content: flex-end;
        background-color: #177ed7;
        color: white;
    }
    
    .trash-ok-trigger-button-No:hover{
        background-image: linear-gradient(
    
            to bottom,
        
            #209fc8 0%,
        
            #6dd2f3 50%,
        
            #209fc8 100%
        
          ) !important;
        
          color: black;
    }
    
    .add-event-save-cancle-buttons{
        display: flex;
        justify-content: flex-end;
    }
    
    /* .trigger-button {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Roboto';
        color: white;
        padding: 8px 15px 8px 15px;
        margin: 8px;
        background-color: #7c69e9;
        border: none;
        border-radius: 4px;
        outline: none;
       }
       .popup-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
       } */
    
    
    .event-management-table-head-hover:hover {
        background-color: #d6d7d8;
        color: black;
    }
    
    .event-management-table-head-hover{
        color: white;
        font-size: 15px;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* .event-management-mobile-view-scroll{
        overflow: scroll;
    } */

    .delete-event-save-cancle-buttons{
        text-align: end;
        margin-top: 40px;
    }