.move-container{
    display: flex;
    padding-top: 10px;
}

.move-head{
    border: solid none ;
    background-color: #3e94de;
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* @media screen and (max-width: 750px) {
    .move-container{
        display: flex;
        justify-content: column;
    }
}

@media screen and (max-width: 750px) {
    .move-head {
        text-align: center;
      height: 30px;
      width: 100vw;
    }
  } */

/* @media  screen and (min-width:750) {
    .move-head{
        border: solid ;
        height: 10px;
        width: 100%;
        background-color: #3e94de;
        color: black;
    }
} */

.scroll{
    color: #3e94de;
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

.move-bottom-container{
    display: flex;
    justify-content: space-between;
}

.manage-event{
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}

.add-event{
    color: black;
    font-size: 20px;
    margin-top: 5px;
    padding-right: 10px;
    padding-top: 10px;
}


.span-para{
    display: flex;
    font-weight: bold;
    margin-top: 5px;
    
}

.data-table-container{
    background-color: white;
    border: solid 1px #d6dfe6;
    padding: 10px;
    margin: 10px;
}

.data-table-inner-border{
    background-color: white;
    border: solid 1px #d6dfe6;
    padding: 5px;
    margin: 5px;
}

.event-bg-container{
    background-color:  rgb(243, 248, 254);
    background-size: cover;
    height: 100vh;
}

.scroll-bg{
    background-color: white;
}