
.add-popup-button{
    background-color: #3e94de;
   
    border: solid 1px black;
}

.plus-button:hover{
    background-image: linear-gradient(

        to bottom,
    
        #209fc8 0%,
    
        #6dd2f3 50%,
    
        #209fc8 100%
    
      ) !important;
    
      color: black;
}

.span-button{
    color: white;
    font-weight: bold;
   
}

.span-button:hover{
    color: black;
    
}

.holiday-container{
    height: 400px;
    width: 400px;
    border: solid 1px black;
}

.plus-button{
    height: 30px;
    width: 30px;
    background-color: #3e94de;
    
    border: solid 1px black;
}

.pop-header{
    display: flex;
    justify-content: space-between;
    background-color: #3e94de;
    
}

.add-holiday-popup-container{
    height: 60vh;
    width: 60vw;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 25%;
    border: solid 1px black;
}

@media  screen and (min-width: 768px) {
    .add-holiday-popup-container{
        height: 50vh;
        width: 40vw;
        background-color: white;
        position: absolute;

    }
}
.form-container{
    padding-top: 30px;
}

.input-container{
    display: flex;
    justify-content: space-around;
    
}

.button-container{
    display: flex;
  
}

.holy-head{
    color: white;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 10px;
    padding-left: 20px;
}

.cross{
    font-size: 17px;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    border: solid 1px black;
    justify-content: end;
    color: white;
    text-align: center;
}

.cross:hover{
    background-image: linear-gradient(

        to bottom,
    
        #209fc8 0%,
    
        #6dd2f3 50%,
    
        #209fc8 100%
    
      ) !important;
    
      color: black;
}

.lable-head{
    color: dimgray;
    padding-left: 30px;
}

.btn-form{
    background-color: #3e94de;
    margin: 5px;
    color: white;
}
.btn-form:hover{
    background-image: linear-gradient(

        to bottom,
    
        #209fc8 0%,
    
        #6dd2f3 50%,
    
        #209fc8 100%
    
      ) !important;
    
      color: black;
}



.add-holiday-label-headings{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.add-holiday-input-subans{
    width: 50%;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}

.add-holiday-checkbox-container{
    padding-bottom: 50px;
    margin-top: 50px;
    padding-left: 306px;
}

.add-holiday-button-container{
    text-align: end;
    margin-top: 10px;
}

.add-holiday-save-cancle-button-container{
    text-align: end;
    margin-top: -30px;
}

.add-holiday-date-input{
    width: 190px;
}

.text-area-width{
    width: 190px;
}