
.bg-container {
  background-image: url("http://192.168.0.116:8080/images/shutterstock_246299713.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.home-heading {
  color: #b5b5b5;
}
.navbar-custom {
  color: #b5b5b5;
  font-family: "Raleway", sans-serif;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.navbar-logo {
  height: 50px;
}
.home-bg {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 100px;
}
.download-button {
  background-color: #129cf3;
  color: #fff;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 19px;
  border-radius: 3px;
}
.btn-tour {
  font-size: 20px;
  padding-left: 5px;
  color: #129cf3;
  font-weight: 400;
}
.home-text-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.transform-text {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  padding-top: 30px;
  text-align: left;
}
.take-a-tour-button {
  border-style: none;
  color: #a9adb0;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 400;
  background: transparent;
}
.hide {
  display: none;
}
.display {
  display: block;
}