.contact-bg-container {
  background-color: #fff;
  height: 100vh;
  padding: 10px;
  }

  .contact-animation{
    animation: bounceIn;
    animation-duration: 1s;
  }


  .contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about-us-text{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 30px !important;
  }


  .about-us-hr-line{
    color: blue;
    height: 3px;
  }

  .about-us-description{
    color: black;
    
    font-weight: lighter;
    font-size: 20px;
  }

  .contact-us-input-containers{
    height: 50px;
    width: 400px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #aeaeae;
    padding: 10px;
  }

  .contact-us-textarea{
    margin-left: 10px;
    width: 700px;
    height: 100px;
    border-radius: 3px;
    border: 1px solid #aeaeae;
    padding: 10px;
  }

  .contact-us-button-send{
    width: 700px;
    height: 50px;
    border-radius: 3px;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    background-color: transparent;
    border: solid 1px #129cf3;
    color: #129cf3;
  }

  .contact-us-button-send:hover{
    background-image: linear-gradient(

    to right,

    #209fc8 0%,

    #6dd2f3 50%,

    #129cf3 100%

  ) !important;

    color: white;
  }

.contact-us-social-media-buttons{
  border: 1px solid #fff;
  padding-top: 50px;
  padding-bottom: 70px;
}  

.social-icons ul li a i {
  font-size: 20px;
}

.fa {
  
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  
}

.social-icons-list-items{
 
  text-align: center;
  color: #9d9d9d;
  margin: 10px;
  border: solid 1px #9d9d9d;
  height: 40px;
  width: 40px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.social-icons-list-items:hover{
  background-image: linear-gradient(

    to bottom,

    #209fc8 0%,

    #6dd2f3 50%,

    #129cf3 100%

  ) !important;

  color: black;
}

.social-icons-list-items:hover .socila-icons-items{
  color: #ffffff;
}

.social-icons{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  margin-top: 50px;
  margin: 10px;
  animation: fadeInLeft;
  animation-duration: 1s;
}

.socila-icons-items{
  text-align: center;
  color: #9d9d9d;
  cursor: pointer;
}

.socila-icons-items:hover{
  color: white;
}

.contact-us-bottom-container{
  background-color: black;
  height: 150px;
  width: 100%;
  margin-top: 140px;
}

.contact-bottom-flex-container{
  display: flex;
  justify-content: space-around;

}

.contact-span-item{
  color: #129cf3;
  padding-top: 30px;
  padding-left: 3px;
}

.contact-name-phone-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.contact-copyright{
  font-size:15px;
  font-weight: bold;
}

.contact-phne-number{
  font-size: 15px;
  font-weight: bold;
}

.contact-scrool-up{
  margin-top: 50px;
  border: solid #129cf3;
  text-align: center;
  height: 50px;
  width: 50px;
  background-color: #129cf3;
  
}

.contact-icon-color{
  color: white;
  text-align: center !important;
  margin-top: 8px;
}