.allpage-bg-container{
    margin: 0px;
     background-size: cover;
     height: 100vh;
 }
 
 .upper-container{
     display: flex;
     flex-direction: row;
    
     margin-top: 20px;
 }
 
 .lower-container{
     display: flex;
     flex-direction: row;
 
     
 }