
.attendence-calendar-container{
    display: flex;
    
    
}

.calendar-header1{
    background: -webkit-gradient(linear, left top, left bottom, from(#177ed7), to(#5c5898));
    height: 34px;
    
    width:55vw;
    justify-content: space-between;
   border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 68px;
   
    
}




@media screen and (max-width: 768px) {
    .calendar-header1 {
     width: 130vw !important;
     height: 500px;
    }
  }
  /* @media screen and (min-width: 768px) {
    .calendar-header-mobile {
     height: 60vh;
     width: 80vw;
    }
} */
/* @media screen and (min-width: 768px) {
    .calendar-header-mobile{
        display: none;
    }
} */

.date{
    color: #8b4b4b;
    font-size: 98px;
    font-weight: bold;
    text-align: center;
     margin-left: 200px;
     margin-bottom: 15px;
}
  
 
  .calendar{
    color:gray;
   
    margin-top: 0px;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 500px;
   
    
}

 .calendar1{
    height: 280px !important;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    margin-left: 0px;
    width: 900px !important;
   border-width: 0px !important;
   margin-top:34px !important;
  color: lightslategray;
  
 }

 @media screen and (max-width: 768px)  {
    .calendar1 {
        width: 120vw !important;
       height: 70vh !important;
        
        
      }
  }

  

 .left-button {
    margin-top: 9px;
    background-color: transparent;
    margin-left: 20px;
    color: #ffffff;
    margin-bottom: 16px;
    border-width: 0px;
    
 }

 

.header1-button {
    width: 24px;
    text-align: center;
    position: absolute;
 }


.navgate{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.festival-heading{
    color: #47bdef;
    font-size: 15px;
    text-align: center;
    margin-left: 900px;
    margin-top: -30px;
}

.holidays-heading{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .festival-heading {
    margin-right: -750px;
    
    margin-top: -400px;
    }
  }

.festival-heading1{
    background-color: #47bdef;
    font-size: 15px;
    text-align: center;
    margin-left: 1000px;
    margin-top: 0px;
    height: 40px;
    padding-top: 8px;
    width: 450px!important;
}

@media screen and (max-width: 768px) {
    .festival-heading1 {
    margin-right: -780px;
    width: 400px !important;
    
    }
  }

.attendance-popup-container{
   background-color: #fff !important;
 
   height:480px;
   margin-top: 0px !important;
   width: 98vw;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
   
}
/* @media screen and (min-width: 768px)  {
    .attendance-popup-container {
        width: 140% !important;
        height: 550px;
      }
  } */

.attendance-popup{
    background-color: #0572ce;
    height: 55px;
   border-color: #fff !important;
   align-content: stretch;
   
}
/* @media screen and (max-width: 480px) {
    .attendance-popup {
      width: 250px;
      align-content: stretch;
      flex-wrap: wrap;
    }
  } */


  /* @media screen and (min-width: 768px) and (max-width:1024px) {
    .attendance-popup {
        width: 250px;
        align-content: stretch;
        flex-wrap: wrap;
      }
  } */
.image-container{
    padding-top: 50px;
    list-style-type: none;
    margin-right: auto;
    margin-top: 0px !important;
    
}


.attendance-popup-inner{
    display: flex;
    padding-top: -10px !important;
    margin:8px;
    flex-wrap: wrap;
}
/* @media screen and (max-width: 480px) {
    .attendance-popup-inner {
     flex-wrap: wrap;
    }
  }
 */

.text-name{
    color: #d28b21;
}


.submit-button{
    display: flex;
    background-color: #177ed7;
    border-width: 0px;
    height: 25px;
    color: #fff;
    text-align: center;
    margin-top: 220px;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
}
.attendence-submit-button1{
    display: flex;
    justify-content: center;
   
    
}

.close-button{
    
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #fff;
    border-width: 1px;
    text-align: center;
    justify-content:flex-end;
    align-items: flex-end;
    align-self: flex-end;
    margin-left: 1475px;
    margin-top: 8px;
    border-color:black;
}

.popup1{
    transform: scale(0) !important;
    transition: all 0.5s ease-in-out !important;
}

.attendence-back-ground-clr{
    min-height: 100%;
  background-color:  rgb(243, 248, 254);
  background-size: cover;
  height: 100vh;
}