* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .excel-upload-button {
    margin-left: 2px !important;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 2px !important;
    border: 1px solid #045fab;
    background-image: linear-gradient(to bottom, #177ed7 0%, #177ed7 100%);
  }
  .excel-upload-button:hover {
    background-image: linear-gradient(
      to bottom,
      #209fc8 0%,
      #6dd2f3 50%,
      #209fc8 100%
    ) !important;
    color: black;
  }
  
  /* modal css styles */
  
  .excel-upload-modal {
    transform: scale(0) !important ;
    transition: all 0.4s ease-in-out !important;
  }
  .excel-upload-modal.show {
    transform: scale(1) !important;
    transition: all 0.4s ease-in-out !important;
    top: 25%;
  }
  .excel-upload-modal .modal-header {
    background-color: #177ed7;
    height: 55px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-bottom: -6px !important;
    text-align: center;
  }
  .excel-dialog {
    width: 650px;
  }
  .excel-upload-modal .modal-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .excel-upload-modal .modal-header .close {
    color: #ffffff;
    background-color: #ffffff;
  }
  .excel-upload-modal .modal-footer {
    border-top: 0 none;
  }
  
  /* react bootstrap modal css styles */
  .excel-upload-green-text {
    color: green;
    font-size: 13px;
  }
  .excel-upload-modal-sample-file-btn {
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 2px !important;
    border: 1px solid #045fab;
    background-image: linear-gradient(to bottom, #177ed7 0%, #177ed7 100%);
  }
  .excel-upload-modal-sample-file-btn:hover {
    background-image: linear-gradient(
      to bottom,
      #209fc8 0%,
      #6dd2f3 50%,
      #209fc8 100%
    ) !important;
    color: black;
  }
  .excel-download-btn-link {
    color: #ffffff;
    text-decoration: none !important;
  }
  .excel-download-btn-link:hover {
    color: black;
  }
  .excel-upload-modal-choose-file-btn {
    height: 26px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 1px !important;
    outline: none;
    margin-bottom: 0px;
    margin-right: 8px;
    padding-bottom: 0px;
    margin-left: -10px;
    cursor: pointer;
  }
  
  .choose-file-btn-text-container {
    margin-top: -18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
  }
  .excel-upload-modal-no-file-chosen-text {
    font-size: 13px;
  }