* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .excel-upload-button {
    margin-left: 2px !important;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 2px !important;
    border: 1px solid #045fab;
    background-color: #177ed7;
  }
  
  /* modal css styles */
  /* .excel-upload-modal {
  } */
  .excel-upload-modal .modal-header {
    background-color: #177ed7;
    height: 55px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-bottom: -6px !important;
    text-align: center;
  }
  .excel-dialog {
    width: 650px;
  }
  .excel-upload-modal .modal-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .excel-upload-modal .modal-header .close {
    color: #ffffff;
    background-color: #ffffff;
  }
  .excel-upload-modal .modal-footer {
    border-top: 0 none;
  }
  
  /* react bootstrap modal css styles */
  .excel-upload-green-text {
    color: green;
    font-size: 13px;
  }
  .excel-upload-modal-sample-file-btn {
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 2px !important;
    border: 1px solid #045fab;
    background-color: #177ed7;
  }
  .excel-upload-modal-choose-file-btn {
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 2px !important;
    outline: none;
    border: 1px solid black;
    margin-bottom: 0px;
    margin-right: 8px;
    padding-bottom: 0px;
    border-radius: 4px;
  }
  .excel-upload-modal-update-marks-btn {
    margin-top: -40px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 2px !important;
    border: 1px solid rgb(1, 97, 128);
    background-color: #177ed7;
  }
  .choose-file-btn-text-container {
    margin-top: -18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .excel-upload-modal-no-file-chosen-text {
    font-size: 13px;
  }