.add-marks-modal-box {
    width: 500px !important;
  }
  
  .each-input-in-add-marks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  .addmarks-button-in-kidmarks {
    margin-left: 5px !important;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 2px !important;
    border: 1px solid rgb(1, 97, 128);
    background-image: linear-gradient(to bottom, #177ed7 0%, #177ed7 100%);
  }
  .addmarks-button-in-kidmarks:hover {
    background-image: linear-gradient(
      to bottom,
      #209fc8 0%,
      #6dd2f3 50%,
      #209fc8 100%
    ) !important;
    color: black;
  }
  /* modal styles css */
  
  .addmarks-modal {
    /* width: 320px; */
    transform: scale(0) !important ;
    transition: all 0.4s ease-in-out !important;
  }
  
  .addmarks-modal.show {
    transform: scale(1) !important;
    transition: all 0.4s ease-in-out !important;
  }
  .addmarks-modal .modal-header {
    background-color: #177ed7;
    height: 55px;
    color: #ffffff;
    margin-bottom: 10px;
  
    /* to get gull border==> to remove default border to bootstrap react modal */
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
  }
  
  .addmarks-modal .modal-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  
  .addmarks-modal .modal-footer {
    border-top: 0 none;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
  }
  /*end of modal styles css */
  
  .addmarks-modal-input {
    border: 1px solid #d6dfe6;
    height: 32px;
    color: black;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
    width: 70%;
    outline: none;
  }
  .addmarks-modal-label {
    font-size: 14px;
    font-weight: 600;
  }
  .addmarks-modal-label-no-bold {
    font-size: 13px;
  }
  
  .add-btn-in-addmarks-modal {
    margin-left: 2px !important;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 2px !important;
    border: 1px solid #045fab;
    background-image: linear-gradient(to bottom, #177ed7 0%, #177ed7 100%);
  }
  .add-btn-in-addmarks-modal:hover {
    background-image: linear-gradient(
      to bottom,
      #209fc8 0%,
      #6dd2f3 50%,
      #209fc8 100%
    ) !important;
    color: black;
  }
  .kidmarks-warning-marks-popover {
    width: 74px;
    border: 1px solid red;
    border-radius: 0px !important;
    padding: 10px;
    color: red;
    font-size: 14px;
    font-weight: 300;
  
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }